@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
a {
    text-decoration: none;
    color: #000000;
}
ul {
    list-style: none;
}
/*style commun à plusieurs éléments*/
header p, input, .filtre-conteneur li p, #afficher__plus, .activites__element p {
    font-weight: bold;
}
.hebergement__allcards a, .hebergement__accomodation .hotel, .activites__element {
    box-shadow: 0px 4px 1em 0px #bebebe;
    border-radius: 15px;
}
.fa-money-bill-wave, .fa-heart, .fa-dog, .fa-child, .fa-info, .stars {
    color: #0065FC;
}
/*style header*/
header div {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    color: #000fff;
    padding-top: 10px;
    margin-bottom: 30px;
}
header img {
    margin: 20px 0 0 20px;
    height: 40px;
}
header p {
    margin: 33px 20px 0 0;
}
header ul {
    display: flex;
    justify-content: space-around;
    font-size: 17px;
}
header nav ul li {
    border-bottom: solid 4px lightgrey;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
}
header nav ul li.active {
    border-bottom: solid 4px #000fff;
}
header nav ul li.active a {
    color: #000fff;
}
/*media queries header*/
@media screen and (min-width: 1024px) {
    header nav {
        position: absolute;
        right: 100px;
        top: 0;
        width: 25%;
    }
    header nav ul li {
        padding-top: 40px;
    }
    header nav ul li {
        border-bottom: none;
        border-top: solid 2px transparent;
    }
    header nav ul li.active {
        border-bottom: none;
        border-top: solid 2px #000fff;
    }
}
/*style searchbar*/
.titre-principal {
    margin: 30px 20px;
}
.titre-principal h1 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}
.searchbar {
    position: relative;
    box-sizing: content-box;
    height: 40px;
    margin: 0 20px;
}
.searchbar__icon {
    position: absolute;
    left: -5px;
    width: 40px;
    height: 100%;
    border-radius: 10px 0 0 10px;
    background: #F2F2F2;
}
.fa-map-marker-alt {
    margin: 12px 14px;
}
input {
    height: 100%;
    width: 90%;
    padding: 1px 20px;
    margin-left: 30px;
    border: solid 1px #F2F2F2;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
}
.searchbar__button {
    position: absolute;
    right: -10px;
    top: 0;
    width: 45px;
    border-radius: 12px;
    background: #0065FC;
    height: 100%;
}
.searchbar__button p {
    display: none;
}
.fa-search {
    color: #fff;
    margin: 13px 15px;
}
/*media queries searchbar*/
@media screen and (min-width: 500px) {
    .searchbar {
        width: 300px;
     }
}
@media screen and (min-width: 700px) {
    .fa-search, .fa-search::before, #fas--display  {
       display: none;
    }
    .searchbar__button p {
    display: block;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    }
    .searchbar__button {
        width: 100px;
        border-radius: 0 10px 10px 0;
        right: -50px;
    }
}
/*style filtre*/
.filtre-conteneur {
    margin: 30px 20px;
}
.filtre-conteneur__filtre {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.filtre-conteneur__filtre h3 {
    margin-bottom: 10px;
}
.filtre-conteneur__filtre ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.filtre-conteneur__filtre li {
    border: solid 2px #F2F2F2;
    position: relative;
    border-radius: 30px;
    padding: 1px 30px 1px 50px;
    margin: 7px 0;
}
.filtre-conteneur__filtre li:hover {
    background: #0065FC;
    color: #fff;
    transition: 0.5s;
}
.filtre-conteneur__filtre li .filtre__icon {
    position: absolute;
    left: -2px;
    top: -1px;
    height: 103%;
    width: 45px;
    border-radius: 50px;
    background: #DEEBFF;
}
.fa-money-bill-wave, .fa-heart, .fa-dog {
    margin: 14px 13px;
}
.fa-child {
    margin: 15px 16px;
}
.filtre-conteneur li p {
    margin: 10px 0;
}
.filtre-conteneur__remarque {
    display: flex;
    margin: 20px 0 30px 0;
}
.filtre-conteneur__remarque .remarque__icon {
    border: solid 2px #F2F2F2;
    height: 22px;
    border-radius: 50px;
    margin-right: 5px;
}
.remarque__icon .fa-info {
    margin: 2px 8px;
}
.filtre-conteneur__remarque p {
    margin: 3px 0 0 0;
}
/*media queries filtre*/
@media screen and (min-width: 700px) {
    .filtre-conteneur__filtre ul {
        justify-content: space-around;
    }
    .filtre-conteneur__filtre ul li {
        margin-right: 5px;
    }
}
@media screen and (min-width: 850px) {
    .filtre-conteneur__filtre h3 {
        margin: 15px 20px 0 0;
    }
}
@media screen and (min-width: 1024px) {
    .filtre-conteneur__filtre {
        justify-content: start;
    }
    .filtre-conteneur__filtre ul li {
        margin-right: 20px;
    }
}
/*style hebergement caracteristiques generales*/
.hebergement p {
    font-size: 0.9rem;
}
.stars {
    font-size: 0.7rem;
    letter-spacing: -1px;
}
/*media queries hebergement caracteristiques generales*/
@media screen and (min-width: 1024px) {
    .hebergement {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 0 20px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .hebergement p {
        font-size: 0.8rem;
    }
}
/*style hebergement aside*/
aside {
    background: #F2F2F2;
    padding: 30px 20px;
}
.hebergement__chart {
    display: flex;
    justify-content: space-between;
}
.hebergement__chart .fa-chart-line {
    margin: 5px 0 20px 0;
    font-size: 1.4rem;
}
.card__img-conteneur {
    width: 130px;
    height: 100%;
    padding: 3px;
}
#img-conteneur--width {
    min-width: 97px;
}
.card__img-conteneur img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}
.hebergement__allcards .card {
    margin: 9px 0;
    height: 130px;
}
.hebergement__allcards .card a {
    display: flex;
    background: #fff;
    height: 100%;
}
.hebergement__allcards .card__infos {
    padding: 10px;
    max-width: 170px;
}
.card__infos p {
    margin-top: 4px;
}
.hebergement__allcards .card__infos .stars {
    margin-top: 2.2rem;
}
.hebergement__allcards .card:nth-child(2) .card__infos .stars .fa-star:nth-child(5), .card:nth-child(3) .card__infos .stars .fa-star:nth-child(5) {
    color: #bebebe;
}
/*media queries hebergement aside*/
@media screen and (min-width: 1024px) {
    aside {
        border-radius: 15px;
        width: 33%;
        padding: 30px 15px;
    }
    .hebergement__allcards .card__infos {
        max-width: 170px;
    }
    .hebergement__allcards .card {
        margin-bottom: 30px;
    }
    .hebergement__allcards .card__infos .stars {
        margin-top: 2.5rem;
    }
} 
@media screen and (min-width: 1200px) {
    aside {
        padding: 30px 30px;
        width: 32%;
    }
} 
/*style hebergement div hebergement__accomodation*/
.hebergement__accomodation {
    padding: 40px 20px 20px 20px;
}
.hebergement__accomodation .hotel {
    margin: 15px 0;
}
.hotel__img-conteneur {
    height: 120px;
    padding: 3px;
}
.hotel__img-conteneur img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px 15px 0 0;
}
.accomodation__infos {
    padding: 3px 10px 8px 10px;
}
.accomodation__infos p {
    margin: 4px 0;
}
.hebergement__accomodation .hotel:nth-child(1) .stars .fa-star:nth-child(5), .hotel:nth-child(3) .stars .fa-star:nth-child(5), .hotel:nth-child(4) .stars .fa-star:nth-child(4),  .hotel:nth-child(4) .stars .fa-star:nth-child(5), .hotel:nth-child(5) .stars .fa-star:nth-child(5)  {
    color: #bebebe;
}
.hebergement__accomodation #afficher__plus {
    font-size: 1.2rem;
    margin-top: 30px;
    cursor: pointer;
}
/*media queries div hebergement__accomodation*/
@media screen and (min-width: 700px) {
    .hebergement__accomodation .accomodation__allhotels {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .hebergement__accomodation .hotel {
        width: 300px;
    }
} 
@media screen and (min-width: 1024px) {
    .hebergement__accomodation {
        background: #F2F2F2;
        border-radius: 15px;
        margin: initial;
        width: 66%;
    }
    .hebergement__accomodation {
        padding: 30px 10px 20px 10px;
    }
    .hebergement__accomodation #h2--modification {
        margin: 0 0 12px 10px;
    }
    .hebergement__accomodation .hotel {
        width: 31%;
        background: #fff;
    } 
    .hebergement__accomodation #afficher__plus {
        margin-left: 10px;
    }
}   
@media screen and (min-width: 1024px) and (max-width: 1120px) {
    .hebergement__accomodation .accomodation__infos h4 {
        font-size: 0.9rem;
    }
}
@media screen and (min-width: 1200px) {
    .hebergement__accomodation {
        padding: 30px 20px 20px 20px;
        width: 65%;
    }
}
/*section activites*/
.activites {
    margin: 50px 20px 50px 20px;
}
.activites__element {
    height: 180px;
    width: auto;
    margin: 20px 0;
}
.element__img {
    height: 130px;
    width: 100%;
} 
.element__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px 15px 0 0;
}
.activites__element p {
    padding: 15px;
}
/*media queries activites*/
@media screen and (min-width: 700px) {
    .activites__conteneur {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 250px 250px 250px 250px;
    }
    .activites #port {
        grid-row-start: 1;
        grid-row-end: span 2;
        height: 450px;
        margin-right: 15px;
    }
    .activites #pomegues {
        height: 230px;
        margin-left: 15px;
    }
    .activites #frioul {
        grid-row: 2;
        grid-column: 2;
        margin: 20px 0 0 15px;
    }
    .activites #calanques {
        grid-row-start: 3;
        grid-row-end: span 2;
        grid-column: 1;
        height: 450px;
        margin-right: 15px;
    }
    .activites #notredame {
        grid-row: 3;
        grid-column: 2;
        margin: 0 0 20px 15px;
    }
    .activites #longchamp {
        height: 230px;
        grid-row-start: 4;
        grid-column: 2;
        margin: -30px 0 0 15px;
    }
    .activites__element--height {
        height: 100%;
    }
    #element__img--port, #element__img--calanques {
        height: 89%;
    }
    #element__img--pomegues, #element__img--longchamp {
        height: 79%;
    }
}
@media screen and (min-width: 1024px) {
    .activites__conteneur {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 250px 250px;
    }
    .activites #port {
        margin-right: 25px;
    }
    .activites #pomegues {
        margin-right: 10px;
    }
    .activites #frioul {
        margin: 20px 10px 0 15px;
    }
    .activites #calanques {
        grid-row: 1;
        grid-column: 3;
        margin: 0 10px 0 15px;
    }
    .activites #notredame {
        grid-row: 1;
        grid-column: 4;
        margin: 0 0 20px 25px;
    }
    .activites #longchamp {
        grid-row: 2;
        grid-column: 4;
        margin: -30px 0 0 25px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .font-size--modification {
        font-size: 0.9rem;
    }
}
/*style footer*/
footer {
    background: #F2F2F2;
    padding: 25px 0;
}
footer div {
    margin: 20px 0 0 20px;
}
footer div p{
    line-height: 2em;
}
/*media queries footer*/
@media screen and (min-width: 700px) {
    footer {
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (min-width: 1024px) {
    footer div:nth-child(3) {
        width: 40%;
    }
}